/*=== GERAL ============================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* conta o tamanho da caixa a partir da borda, e não mais do conteudo*/
}

:root {

  --hue: 220;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --secondary-headline: hsl(210, 11%, 15%);
  --secondary-paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);

  --brand-light: hsl(calc(var(--hue)), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue)), 14%, 97%);

  --brand-dark: hsl(var(--hue),100%, 14%);
  --bg-light: hsl(180, 14%, 97%);

  --nav-height: 7.2rem;

  font-size: 62.5%; /* transforma 1rem = 10px - IDEAL para resize */
}

body {
  font-size: 1.6rem; /* Equivalente a 16px */
  font-family: 'DM Sans';
  text-align: center;

  overflow: overlay; /* "sobrepoe" - usado para que o scroll não seja somado ao tamanho da tela, fazendo com que não mais aconteça uma movimentação do logo e outros elementos quando uma pagina tem e outra não o scroll */

  background-color: var(--bg-light);
}

html {
  scroll-behavior: smooth; /*vai rolar de forma suave o scroll */
}

html,
body {
  /* ajuste da tela para resize e evitar rolagem lateral*/
  width: 100%;
  height: 100%;
}

.wrapper {
  width: min(50rem, 100%); /* largura menor que 50 rem, considere 100% -- maior que 50rem, trava em 50rem*/
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%; /*caso a imagem seja muito grande, faz com que ela ocupe "apenas" 100% da caixa, sem transbordar */
}

section {
  padding-block: 10rem;
}

section header h4{
  font-size: 1.4rem; /* Equivalente a 14px */
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2{
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--secondary-headline);

}

section header h1{
  font-size: 3.4rem;
  color: var(--secondary-headline);
  line-height: 130%; /*Espaçamento entre as linhas*/

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--secondary-paragraph);
}

.button{
  background-color: var(--primary-color);
  border: none;
  border-radius: 4rem;
  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content; /*largura fica adaptada ao conteúdo*/

  color: white;
  text-transform: uppercase; /* tudo maiusculo */
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  transition: background 200ms; /* deixa a transição para o hover mais suave */

}

.button:hover{
  background-color: var(--brand-dark);

}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/*Custom colors */

#services .card circle{
  fill: var(--brand-light);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton circle{
  fill: var(--primary-color);
}

button.open-menu path[stroke*="#00856F"],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll button.open-menu path[stroke*="#00856F"]{
  stroke: white;
}

/*=== NAVIGATION ============================*/

nav {
  display: flex; /*NECESSARIO PARA CENTRALIZAR O CONTEUDO NA BOX*/

  height: var(--nav-height);

  /*PARA DEIXAR O MENU FIXO NA TELA*/
  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex; /*NECESSARIO PARA CENTRALIZAR O CONTEUDO NA BOX*/
  align-items: center; /*NECESSARIO PARA CENTRALIZAR O CONTEUDO NA BOX*/
  justify-content: space-between; /* COLOCA OS ITENS EM LADOS OPOSTOS */
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .close-menu,
nav .menu {
  position: fixed;
}

/*=== #HOME ============================*/

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

/*ÓTIMA ALNTERNATIVA PARA COLOCAR COR NO FUNDO EM PARTE DA PAGINA*/
#home::before {
  content: ''; /* PRECISAMOS TER UM CONTEUDO VAZIO*/
  width: 100%; /* QUE OCUPE 100% DA LARGURA*/
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /*MOVER PARA TRAS DO TEXTO */
}

#home .button{
  margin-inline: auto;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--secondary-paragraph);
  margin-bottom: 3.2rem;
}

#home img {
  width: 26.4rem; /* feita em REM para acompanhar o resize */
  display: block;
  margin-inline: auto;
  object-position: 0 2rem; /* Moveu a imagem para baixo, com objetivo de grudar com o quadro */
}

#home .stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--secondary-headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/*=== MENU-EXPANDED ============================*/

body.menu-expanded {
  overflow: hidden; /*escondeu as barras de rolagem */
}

body.menu-expanded > :not(nav) {
  /* > significa PRIMEIRO NIVEL, :not(nav) significa EXCETO NAV */
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded.menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0%);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.3);
  border: white;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative; /*pois libera o z-index, que faz com que consigamos mudar a" profundidade" de um item, trazendo o logo que estava abaixo do menu, para cima*/
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*=== SERVICES ============================*/

#services h2{
  margin-bottom: 6rem;
}
#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem; /* só é liberado quando alteramos o display para FLEX */
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem; /* BLOCK = CIMA E BAIXO _  INLINE = DIREITA E ESQUERDA */
}


/*=== ABOUT ============================*/
#about {
  text-align:left ;
  background-color: var(--brand-beige);
}
#about header h2{
  margin-bottom: 2.4rem;
}

#about .content p{
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*=== CONTACT ============================*/
#contact {
  text-align: left;
}

#contatc header{
  margin-bottom: 3.2rem;

}

#contact ul{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem ;
}

#contact ul li{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*=== FOOTER ============================*/
footer{
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  color: white;
}

footer .logo{
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg{
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path{
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;

}

/* BACK TO TOP BUTTON */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%); /* efeito de aparecer na tela vindo de baixo */
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* efeito de aparecer na tela vindo de baixo */
}


/*=== RESPONSIVO ============================*/

@media (min-width: 1024px){
/*=== GERAL ============================*/
body{
  overflow: auto;
}
.wrapper {
  width: min(112rem, 100%); /* até os 112 rem ele considera 100%, depois disso, se mantém */
  display: grid;
}

section {
  padding-block: 16rem;
}

section header h2{
  font-size: 4rem;
  line-height: 5.2rem;
}

.col-a{
  grid-area: A;
}

.col-b{
  grid-area: B;
}
/*=== NAVIGATION ============================*/

/*RESET*/
nav#navigation .wrapper * {
  margin: 0;
  padding: 0;
  visibility: initial;
  display: initial;
  opacity: initial;
  flex-direction: initial;
  position: initial;
  font-size: initial;
  transform: initial;
  color: initial;
  background-color: initial;
  font-weight: initial;
  font-size: initial;
  filter: initial;
}

nav#navigation .close-menu,
nav#navigation .open-menu,
nav#navigation .social-links{
  display: none;
}

nav#navigation .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

nav#navigation .menu ul:nth-child(1) {
  display: flex;
  gap: 3.2rem;
}

nav#navigation .menu ul li a{
  color: var(--primary-color);
  opacity: 0.7;
}

nav#navigation .menu a.button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.4rem;

  border: 1px solid var(--primary-color);
  border-radius: 4rem;

  color: var(--primary-color);

  font-weight: 700;
  font-size: 1.4rem;
  font-weight: 1.8rem;
  text-transform: uppercase;
}

nav#navigation .menu a.button:hover{
  background-color: var(--primary-color);
  color: white;
  border: none;
}

nav#navigation.scroll .menu ul li a{
  color: var(--brand-light-2);
  opacity: 0.6;
}

nav#navigation.scroll .menu a.button{
  border-color: white;
  color: white;
}

nav#navigation .menu li a{
  transition: opacity .4s ;
}

nav#navigation .menu li a:hover{
  opacity: 1;
  font-weight: 700;
}
nav#navigation .menu li a::after{
  content:"" ;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);

  position: relative;
  bottom: -2rem;
  left: -0.5rem;
 

  display: block;
  transition: width 0.2s; /* efeito da linha ao passar ao passar mouse no menu */
}

nav#navigation.scroll .menu li a::after {
  background-color: white;
}

nav#navigation .menu li a.active::after,
nav#navigation .menu li a:hover::after{
  padding-inline: 0.8rem;
  width: 100%;
}

nav#navigation.scroll .menu li a.active,
nav#navigation.scroll .menu li a:hover{
  opacity: 1;
}

nav#navigation.scroll .menu a.button.active,
nav#navigation.scroll .menu a.button:hover{
  background-color: var(--primary-color) ;
  filter: brightness(1.3);
}

/*=== HOME ============================*/
#home::before{
  height: calc(96% - var(--nav-height));
}

#home {
  padding-top: var(--nav-height);
}

#home .wrapper {
  grid-template-columns: 60.5rem 1fr;
  grid-template-areas: "A B" "C C";
}

#home .col-a{
  text-align: left;
  align-self: center; /* alinha o conteudo dentro do "grid" - coluna A ao centro */
}

#home h1{
  font-size: 5.2rem ;
  
}

#home .content p{
  font-size: 1.8rem;
}

#home .stats{
  grid-area: C;
  flex-direction: row; /* coloca os itens um ao lado do outro */
  padding: 6rem;
  gap: 0;
}

#home .stats .stat + .stat{ /*lemos vá em STATS e encontre o STAT QUE POSSUI OUTRO STAT ANTES dele*/
  border-left: 1px solid var(--primary-color);
}


#home .stats .stat{ /* usado para adicionar o traço e separar as infos de stat */
  flex: 1 ;         /* preenche por igual os elementos(boxes - stat), dentro da box maior (stats) */
}

#home .button{
  margin: 0;
}

#home img{
  width: 42rem;
}

/*=== SERVICES ============================*/
#services h2{
  width: 47rem;
  margin-inline: auto;
}

/*ajuste de cada CARD dentro do box CARDS ( flex ) */
#services .cards{
  flex-direction: row; /* POSICIONAMENTO*/
  flex-wrap: wrap;
  gap: 4rem;
}

#services .card{
  width: 30%; /* AJUSTA TAMANHO PARA DEIXAR 3 EM CADA LINHA */
  flex-grow: 1; /* AUMENTA POR IGUAL PARA DEIXAR UNIFORME */
}

/*=== ABOUT ============================*/
#about .wrapper{
  grid-template-columns: 48rem 1fr;
  grid-template-areas:"B A" ;
  gap: 6.7rem;
}

#about .col-a{
  align-self: center;
}

#about .content p{
  margin: 0;
}

/*=== CONTACT ============================*/

#contact .wrapper{
  grid-template-columns: 1fr 57.5rem;
  grid-template-areas:"A B" ;
  gap: 6.7rem;
}

#contact h2{
  width: 40.4rem;
}

/*=== FOOTER ============================*/
footer{
  padding-block: 8rem;
}

footer .wrapper{
  grid-template-columns:1fr 1fr ;
  grid-template-areas: "A B";
}

footer .col-a{
  align-self: center;
}

footer .col-b{
  align-self:center ;
  justify-self: flex-end;
}

footer p{
  margin-bottom: 0;
}

}